# Local Netlify folder
.netlify
.netlify_root_backup/
.wrangler/

# Python Virtual Environments
venv/
**/venv/
__pycache__/
*.pyc

# Node Dependency Directory
node_modules/
**/node_modules/

# Logs and environment variables
*.log
.env
.env.*
.env.local

# Databases
*.sqlite3

# Django Static Files
staticfiles/
backend/staticfiles/


